---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import CallToAction from '../components/CallToAction.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import { Picture } from 'astro:assets';

const technologiesAndSkills = ['.NET', '.NET Core', 'C#', 'Azure','JIRA', 'GIT', 'SCRUM', 'Azure DevOps', 'Kentico', 'Sitecore']

const certBadgeWidthDerivatives = [150, 250, 300];
const certBadgeHeightDerivatives = [250, 350, 400];
const heroPictureWidthDerivatives = [400, 600, 1000];
const heroPictureHeightDerivatives = [600, 800, 1200];
---

<BaseLayout title="About | Jakub Wajs" description="About Jakub Wajs - .NET Developer">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me">
				<!-- tagline="Thanks for stopping by! Read below to learn more about myself and my background." -->
				<Picture src="/assets/about-me-photo.jpg" width={heroPictureWidthDerivatives} height={heroPictureHeightDerivatives} alt="Photo with a man in sunglasses sitting on the bridge, sky in the background." formats={['webp']}/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My name is Jakub Wajs and I’m 28 y.o. Software Engineer living in Poznan, Poland.
					</p>
					<p>
						My programming journey began in 2015, and since then, I have embarked on numerous projects spanning diverse fields and technologies. From C++, C#, and Python to web application development with Django and ASP .NET, I have explored a wide range of programming languages and frameworks, many of which are showcased in my GitHub repository.
					</p>
					<p>
						During my BSc studies, I primarily focused on developing the PyRy3D Chimera Extension using Python 2.x, which became the subject of my BA thesis. Later, during my Master's Degree, I delved into the realm of cloud data warehouses on the Microsoft Azure platform.
					</p>
					<p>
						In 2019, I earned the MCSA: Web Applications and MCSD: App Builder certifications, demonstrating my expertise in web development. Furthermore, in 2022, I successfully obtained the Azure Developer Associate certification. Currently, I work as a dedicated .NET developer, specializing in CMS-driven solutions utilizing technologies such as Sitecore Experience Platform, Sitecore Content Hub, Kentico Xperience, and Optimizely CMS.
					</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Projects</h2>
				<div class="content">
					<div class="projects-cta">
						<CallToAction href="/work/">
							View All
						</CallToAction>
					</div>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">Technology stack</h2>
				<div class="content">
					<Grid variant='small'>
						{
							technologiesAndSkills.map((skill) => (
								<li>{skill}</li>
							))
						}
					</Grid>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certificates</h2>
				<div class="content">
					<Grid variant="small">
						<li class="certificate-item">
							<a href="https://www.credly.com/badges/51599b8f-b0d1-45ea-bffc-8cc28b84a40e/linked_in_profile">
								<Picture src="/assets/certificates/certificate-azure-associate.png" width={certBadgeWidthDerivatives} height={certBadgeHeightDerivatives} alt="Microsoft Certified: Azure Developer Associate badge" formats={['webp']}/>
							</a>
						</li>
						<li class="certificate-item">
							<a href="https://www.credly.com/badges/a860e5de-5e5a-4c17-80d9-805821166a7f/linked_in_profile">
								<Picture src="/assets/certificates/certificate-app-builder.png" width={certBadgeWidthDerivatives} height={certBadgeHeightDerivatives}  alt="Microsoft Certified Solutions Developer badge" formats={['webp']}/>
							</a>
						</li>
						<li class="certificate-item">
							<a href="https://www.credly.com/badges/ce4b4c68-59df-405c-89a2-76ec658f2151/linked_in_profile">
								<Picture src="/assets/certificates/certificate-solutions-associate.png" width={certBadgeWidthDerivatives} height={certBadgeHeightDerivatives}  alt="Microsoft Certified Solutions Associate badge" formats={['webp']}/>
							</a>
						</li>
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		object-fit: cover;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content p {
		margin-bottom: 1.5em;
	}

	.projects-cta {
		display: flex;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
